.recommenders
*.class
.metadata
/SemAn/tp/moj.out

/SemAn/analyze.sh
/SemAn/compare.sh
/SemAn/input/*
/SemAn/ocekivani_output/*
/SemAn/tvoj_output/*
/SemAn/input_readme.txt
/SemAn/README.txt
/Gen/a.frisc
/Gen/a.frisc~
/Gen/moj.out
